# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# =========================
# Virtual environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
data/*.db
*.sqlite3

# оставить папку data
!data/.gitkeep

# =========================
# Environment variables
# =========================
.env

# =========================
# Build / cache
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Pytest / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db